.forgot-card{
    width: 379px;
    height: 201px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -161px 0 0 -227px;
    text-align: center;
    mat-form-field{
        padding: 50px 0px 30px 0px;
         width: 309px;
    }
}