<mat-card class="forgot-card">
    <mat-card-content>
      <form class="forgot-form" [formGroup]="emailForm"  (ngSubmit)="emailSubmit()">
        <div>
          <mat-form-field>
            <!-- <mat-label>Email</mat-label> -->
            <input matInput formControlName="email" placeholder="Email">
              <mat-error *ngIf="f.email.errors && f.email.errors.required">Email is required</mat-error>
              <mat-error *ngIf="f.email.errors && f.email.errors.email">Email must be a valid email address</mat-error>
          </mat-form-field>
        </div>
        <div class="field-action">
          <input class="submit-btn" type="submit" mat-button value="SEND">
        </div>
       
      </form>
    </mat-card-content>
  </mat-card>
